{% extends 'base.html'%}
{% load static %}

{% block base %}

<!-- IMAGE GENERATION TYPE MODAL -->
<div class="modal fade" id="imgGenModal" tabindex="-1" aria-labelledby="imgGenModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#EBECF0;">
        <h1 class="modal-title fs-5" id="imgGenModalLabel" style="color:black;">Select Image Generation Type</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Please select the mode of image generation you wish to see:
          <div class="container mt-3">
              <div class="row">
                  <div class="col-6 d-flex justify-content-evenly"><a href="{% url 'mainInterface:generateRecipe' 1 %}" class="initGeneration"
                    style="text-decoration:none;text-align:center;color:black;">
                      <b>3D Rendering</b><br>
                      <img src="{% static './assets/main/laksa-3d-sm.jpg' %}" draggable=false
                         class="image-zoom" alt="..." style="max-width: 128px;">
                      </a>
                  </div>
                  <div class="col-6 d-flex justify-content-evenly"><a href="{% url 'mainInterface:generateRecipe' 2 %}" class="initGeneration"
                    style="text-decoration:none;text-align:center;color:black;">
                      <b>Photorealistic</b><br>
                      <img src="{% static './assets/main/laksa-photoreal-sm.jpg' %}" draggable=false
                         class="image-zoom" alt="..." style="max-width: 128px;">
                      </a>
                  </div>

              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>

<div class="fixed-top"> <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'baseView'%}">
            <img src="{% static './assets/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Recipe365
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{% url 'baseView'%}"><span class="d-lg-none">Home </span><span class="fa-solid fa-house"></span></a>
                <a class="nav-link active" href="{% url 'mainInterface:generateView'%}">Generate <i class="fa-solid fa-pen"></i></a>
                <a class="nav-link" href="{% url 'mainInterface:recipeView'%}">Repository <i class="fa-solid fa-database"></i></a>
            </div>
            <div class="navbar-nav col-xxl-2 col-lg-3 col-6 ms-auto">
                <form class="input-group rounded" action="{% url 'mainInterface:searchView' %}" method="GET">
                  <input id="search-input" name="search-input" type="search" class="form-control rounded" placeholder="Search in Repository" aria-label="Search"
                        style="font-size:110%;" aria-describedby="search-addon" />
                  <span>
                      <button type="submit" class="btn btn-success"><i class="fas fa-search"></i></button>
                  </span>
                </form>
            </div>
        </div>
      </div>
    </nav>
</div> <!--END NAVBAR-->

<div class="blur-window">
    <div class="container p-4 mt-5 entryFromTop">
        <div class="container mt-2" style="text-align:center;">
            <h2>Generate recipe
            <span style="color: orange;" class="typer" data-typer-targets='{ "targets" : ["with Generative AI", "using CHATGPT and DALL-E", "with your Friendly Non-Human Assistant"]}'></span>
            </h2>
        </div>
        <div class="container mt-3">
            <div class="row d-flex justify-content-center">
                {% for item in generatetype_list %}
                    <div class="col col-sm-auto mt-2">
                        <a data-src="{{item.pk}}" data-bs-toggle="modal" data-bs-target="#imgGenModal" class="set-default-dark option-item">
                        <div class="card card-styled" style="height: auto;">
                            <figure style="margin: 0;">
                                <img src="{% static './assets/img-load.gif' %}" data-src="{{item.imgPath}}" draggable=false
                                     class="card-img-top image-zoom image-loading" alt="..." style="user-select: none;">
                            </figure>
                            <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text" style="font-weight: lighter; font-style: italic;">"{{item.description}}"</p>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container text-center mt-4">
            <p>Disclaimer: Please note that the recipes are generated purely by AI, hence it's recommendations might not make sense at times.</p>
        </div>
    </div>
</div>
<script>
    function updateImgLoader(){
        let images = document.querySelectorAll('img.image-loading');
        images.forEach(image => {
            const newUrl = image.getAttribute('data-src');
            image.src = newUrl;
            image.classList.remove('image-loading');
            image.classList.add('load-blur');
        })
    }
    updateImgLoader();
</script>
{% endblock %}