.typewriter h1, .typewriter h2, .typewriter h3, .typewriter h4, .typewriter h5{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing random(2)+2s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter span, .typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing random(2)+0.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.fadeIn{
    animation: textFadeIn random(1)+1s, slideIn random(1)+1s;
}

.fadeIn-fast{
    animation: textFadeIn 1.5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
}

@keyframes textFadeIn {
  from {
  -webkit-filter: blur(15px);
  filter: blur(15px);
   }
  to {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0);
  }
}

$rand-timer-01: random(1) + 0.9s;
$rand-timer-02: random(1) + 1.05s;
$rand-timer-03: random(1) + 1.2s;
$rand-timer-04: random(1) + 1.35s;

.text-translateY-01{
    animation: animateText01 $rand-timer-01 infinite;
}
.text-translateY-02{
    animation: animateText01 $rand-timer-02 infinite;
}
.text-translateY-03{
    animation: animateText01 $rand-timer-03 infinite;
}
.text-translateY-04{
    animation: animateText01 $rand-timer-03 infinite;
}

.text-hover{
    transform: scale(1);
    transition: 0.75s ease-in-out;
}
.text-hover:hover{
    transform: scale(1.2);
    filter: brightness(2);
}

.glow-purple{
    color: white;
    text-shadow: blueviolet 0 0 20px;
    animation: glow-purple-anim 1.5s infinite alternate;
}

@keyframes glow-purple-anim{
    0% {
        text-shadow: blueviolet  0 0 0px;
    }
    100% {
        text-shadow: blueviolet  0 0 20px;
    }
}



@keyframes animateText01{
    0% {
      transform: translateY(0%);
      filter: brightness(0.9);
    }
    50%{
      transform: translateY(15%);
      filter: brightness(1.1);
    }
    100%{
      transform: translateY(0%);
      filter: brightness(0.9);
    }
}

@keyframes animateText02{
    0% {
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
}

@keyframes animateText03{
    0% {
      transform: scale(1);
    }
    50%{
      transform: scale(1.05);
    }
    100%{
      transform: scale(1);
    }
}
