body{
    font-family: 'Edu SA Beginner', cursive;
    /*font-family: 'Lato', sans-serif;*/

}

div.halo-bg{
    background: radial-gradient(ellipse at center, #1b2735 0%,black 75%);
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);*/
}

h1, h2, h3, h4, h5{
    color: white;
}

img.load-blur{
  animation: unblur 2s;
  user-select: none;
}

img.load-reveal{
    animation: unblur 3.5s, reveal 3.5s;
}

@keyframes unblur {
  from {
  -webkit-filter: blur(10px);
  filter: blur(10px);
   }
  to {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  }
}

@keyframes reveal {
from {
  filter: grayscale(100%);
   }
  to {
  filter: grayscale(0%);
  }
}

div.blur-window{
    background-color: rgba(50,50,50, 0.3);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.loader{
    position: fixed;
    top:0; left: 0;
    z-index: 3;
    background: white;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    height:100%;
    width:100%;
}

a.set-default-dark{
    text-decoration: none;
    color: black;
    text-align: center;
}

@-webkit-keyframes bg-animation {
    0% {background-position: right;}
    100% {background-position: left;}
}

body.bg-style {
    -webkit-animation: bg-animation 30s infinite alternate;
    background-image: url('../assets/wallpaper.jpg');
}

.main-box{
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}
.main-box figure img{
    overflow: hidden;
    object-fit: cover;
}
.main-box .main-box-content{
    position: absolute;
    top: 60%; left: 100%;
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding-top:3rem;
    text-align: center;
    align-items: center;
}

.main-box .main-box-content{
    color:white;
}

.main-box .main-box-content p{
    color:rgba(190,190,190);
}

.main-box:hover .main-box-content{
    left:0;
}

*{
    transition: all 0.3s linear;
}

figure{
    overflow: hidden;
}

img.image-zoom{
    display: inline-block;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: 0.75s ease-in-out;
}

img.image-zoom:hover{
    border-radius: 6px;
    transform: scale(1.05);
}

div.image-zoom{
    transform: scale(1);
    transition: 0.75s ease-in-out;
}

div.image-zoom:hover{
    border-radius: 6px;
    transform: scale(1.05);
}


div.item-box {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
  background-color: black; opacity: 0.8;
  width: 100%;
}

.entryFromLeft{
    animation-name: entryFromLeft;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(1, 0.055, 0.32, 1);
}

.entryFromBottom{
    animation-name: entryFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(1, 0.055, 0.32, 1);
}

.exitToBottom{
    animation-name: exitToBottom;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes brighten {
  0% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(1.1);
  }
}

@keyframes entryFromLeft {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes entryFromRight {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes exitToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes entryFromBottom {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes exitToBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}


#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
