$main-xsm-width: 300px;
$main-sm-width: 450px;
$main-md-width: 550px;
$main-lg-width: 700px;
// $main-wh-ratio-xsm: 2.833;
// $main-wh-ratio-sm: 2.458;
// $main-wh-ratio-md: 2.083;
// $main-wh-ratio-lg: 1.708;

$main-wh-ratio-xsm: 1.8;
$main-wh-ratio-sm: 1.65;
$main-wh-ratio-md: 1.55;
$main-wh-ratio-lg: 1.45;

.swiper {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: fadeInSlide 1.5s;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(1, 0.055, 0.32, 1);
}

div.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 1200px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  filter: brightness(0.9);
  pointer-events: none;
  user-select: none;
}

div.swiper-slide img {
  display: block;
  width: 100%;
}

div.swiper-slide-active{
    pointer-events: auto;
    user-select: auto;
    animation-name: brighten;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

@keyframes brighten {
  0% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(1.0);
  }
}

@keyframes fadeInSlide {
  0% {
    transform: translateY(60%);
  }
  100% {
    transform: translateY(0);
  }
}

@media(min-width:992px) and (max-width:1260px){
    div.swiper-slide {
      width: $main-lg-width;
      height: $main-wh-ratio-lg * $main-lg-width;
    }
}

@media(min-width:768px) and (max-width:992px){
    div.swiper-slide {
      width: $main-md-width;
      height: $main-wh-ratio-md * $main-md-width;
    }
}

@media(min-width:576px) and (max-width:768px){
    div.swiper-slide {
      width: $main-sm-width;
      height: $main-wh-ratio-sm * $main-sm-width;
    }
}

@media(max-width:576px){
    div.swiper-slide {
      width: $main-xsm-width;
      height: $main-wh-ratio-xsm * $main-xsm-width;
    }
}