/* line 15, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
.swiper {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  animation: fadeInSlide 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(1, 0.055, 0.32, 1); }

/* line 27, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
div.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 900px;
  height: 1200px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  filter: brightness(0.9);
  pointer-events: none;
  user-select: none; }

/* line 39, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
div.swiper-slide img {
  display: block;
  width: 100%; }

/* line 44, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
div.swiper-slide-active {
  pointer-events: auto;
  user-select: auto;
  animation-name: brighten;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  -webkit-filter: blur(0px);
  filter: blur(0px); }

@keyframes brighten {
  0% {
    filter: brightness(0.9); }
  100% {
    filter: brightness(1); } }

@keyframes fadeInSlide {
  0% {
    transform: translateY(60%); }
  100% {
    transform: translateY(0); } }

@media (min-width: 992px) and (max-width: 1260px) {
  /* line 73, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
  div.swiper-slide {
    width: 700px;
    height: 1055.6px; } }

@media (min-width: 768px) and (max-width: 992px) {
  /* line 80, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
  div.swiper-slide {
    width: 550px;
    height: 1145.65px; } }

@media (min-width: 576px) and (max-width: 768px) {
  /* line 87, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
  div.swiper-slide {
    width: 450px;
    height: 1106.1px; } }

@media (max-width: 576px) {
  /* line 94, c:/users/jun ming/pycharmprojects/recipegenerator/recipegenerator/static/css/swiper-config.scss */
  div.swiper-slide {
    width: 300px;
    height: 660px; } }
