{% load static %}
{% load compress %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipe365 - Recipe Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'css/swiper-config.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'css/animate.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" href="{% static 'css/custom-effects.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="{% static './libs/jquery-3.6.0.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Lato&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="bg-style">
    <div class="insertLoader"></div><!--Insertion of loader when calling API-->

    {% block base %}
    <!-- PAGE LOADER -->
    <div class="loader" style="background-color:#FFE5B4">
      <div>
        <img src="{% static './assets/loadscreen.gif' %}" class="img-fluid">
        <h3 class="loader-text mt-3" style="color:black">Coming right up..</h3>
      </div>
    </div>

    <!-- IMAGE GENERATION TYPE MODAL -->
    <div class="modal fade" id="imgGenModal" tabindex="-1" aria-labelledby="imgGenModalLabel" aria-hidden="true" style="">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color:#EBECF0;">
            <h1 class="modal-title fs-5" id="imgGenModalLabel" style="color:black;">Select Image Generation Type</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Please select the mode of image generation you wish to see:
              <div class="container mt-3">
                  <div class="row">
                      <div class="col-6 d-flex justify-content-evenly"><a href="{% url 'mainInterface:generateRecipe' 1 %}" class="insertLoader-btn initGeneration"
                        style="text-decoration:none;text-align:center;color:black;">
                          <b>3D Rendering</b><br>
                          <img src="{% static './assets/main/laksa-3d-sm.jpg' %}" draggable=false
                             class="image-zoom" alt="..." style="max-width: 128px;">
                          </a>
                      </div>
                      <div class="col-6 d-flex justify-content-evenly"><a href="{% url 'mainInterface:generateRecipe' 2 %}" class="insertLoader-btn initGeneration" data-src="2"
                        style="text-decoration:none;text-align:center;color:black;">
                          <b>Photorealistic</b><br>
                          <img src="{% static './assets/main/laksa-photoreal-sm.jpg' %}" draggable=false
                             class="image-zoom" alt="..." style="max-width: 128px;">
                          </a>
                      </div>

                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed-top"> <!--NAVBAR-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'baseView'%}">
                <img src="{% static './assets/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Recipe365
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'baseView'%}"><span class="d-lg-none">Home </span><span class="fa-solid fa-house"></span></a>
                <a class="nav-link" href="{% url 'mainInterface:generateView'%}">Generate <i class="fa-solid fa-pen"></i></a>
                <a class="nav-link" href="{% url 'mainInterface:recipeView'%}">Repository <i class="fa-solid fa-database"></i></a>
              </div>
            </div>
          </div>
        </nav>
    </div> <!--END NAVBAR-->

    <div class="blur-window">
        <div class="swiper mySwiper"><!--MAIN MENU-->
            <div class="swiper-wrapper">
              <div class="swiper-slide halo-bg">
                  <div class="blob">
<!--                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350">-->
<!--                    <path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>-->
<!--                    </svg>-->
                      <div class="glow-globe-mini"></div>
                  </div>
                  <div class="glow-globe"></div>
                  <div class="item-box p-3">
                      <h1 class="mt-2 glow-purple">Recipes by Generative AI</h1>
                      <span class="glow-purple">Powered by OpenAI's </span>
                      <b><span style="font-size: 115%; color: #E30B5C;" class="typer" data-typer-targets='{ "targets" : ["ChatGPT","DALL-E"]}'></span></b>
                      <p class="swipe-gesture mt-2" style="color:grey"> << Swipe to discover >> </p>
                  </div>
              </div>
              <div class="swiper-slide" style="background:black url('{% static './assets/main/burger.jpg' %}') repeat fixed center;">
                  <div class="" >
                      <a data-src="1" data-bs-toggle="modal" data-bs-target="#imgGenModal" class="option-item" style="text-decoration:none;">
                          <div class="item-box p-3">
                              <h1 class="mt-2 text-translateY-01">Feeling hungry?</h1>
                              <span class="text-translateY-01 mt-2">Generate </span>
                              <b><span style="font-size: 115%; color: orange;" class="typer" data-typer-targets='{ "targets" : ["any recipe now", "anything that is edible", "some food recipe"]}'></span></b>
                              <p class="text-hover mt-2" style="color:grey">Click to generate <i class="fa-solid fa-pen"></i></i></p>
                          </div>
                      </a>
                  </div>
              </div>
                <div class="swiper-slide" style="background:black url('{% static './assets/main/laksa.jpg' %}') repeat fixed center;">
                    <div class="" >
                        <a data-src="2" data-bs-toggle="modal" data-bs-target="#imgGenModal" class="option-item" style="text-decoration:none;">
                            <div class="item-box p-3">
                                <h1 class="mt-2 text-translateY-02">Quick and easy</h1>
                                <span class="mt-2">Generate recipe </span>
                                <b><span style="font-size: 115%; color: orange;" class="typer" data-typer-targets='{ "targets" : ["under 10 minutes", "that can be prepared in within 10 minutes", "ready to eat in 10 minutes"]}'></span></b>
                                <p class="text-hover mt-2" style="color:grey">Click to generate <i class="fa-solid fa-pen"></i></i></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide" style="background:black url('{% static './assets/main/chickenrice.jpg' %}') repeat fixed center;">
                    <div class="" >
                        <a data-src="3" data-bs-toggle="modal" data-bs-target="#imgGenModal" class="option-item" style="text-decoration:none;">
                            <div class="item-box p-3">
                                <h1 class="mt-2 text-translateY-03">Simplicious</h1>
                                <span class="text-zoom-02 mt-2">Generate recipe </span>
                                <b><span style="font-size: 115%; color: orange;" class="typer" data-typer-targets='{ "targets" : ["under 3 ingredients", "with less than 3 ingredients", "with as little as 3 ingredients"]}'></span></b>
                                <p class="text-hover mt-2" style="color:grey">Click to generate <i class="fa-solid fa-pen"></i></i></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide" style="background:black url('{% static './assets/main/healthy.jpg' %}') repeat fixed center;">
                    <div class="" >
                        <a data-src="4" data-bs-toggle="modal" data-bs-target="#imgGenModal" class="option-item" style="text-decoration:none;">
                            <div class="item-box p-3">
                                <h1 class="mt-2 text-translateY-04">Healthy and nutritious</h1>
                                <span class="text-zoom-02 mt-2">Generate recipe </span>
                                <b><span style="font-size: 115%; color: orange;" class="typer" data-typer-targets='{ "targets" : ["under 500 calories", "with not more than 0.5kcal", "with less than 2100kJ"]}'></span></b>
                                <p class="text-hover mt-2" style="color:grey">Click to generate <i class="fa-solid fa-pen"></i></i></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            </div><!--END MAIN MENU-->
    </div>

    {% endblock %}
    <!--FOOTER CLASS-->
    <footer class="footer text-center p-5 d-none d-sm-block" style="background: #DEDEDE;">
        <div class="footer-header">MADE POSSIBLE WITH</div>
        <div id=flip>
            <div><div class="flip-last" style="background:#37b7e6;">CSS INSPIRATION FROM CODEPEN.io</div></div>
            <div><div class="" style="background:#36cf8a;">FULL STACK WEB APPLICATION BUILT WITH DJANGO</div></div>
            <div><div style="background:orange;">AI IMAGE GENERATION BY DALL-E</div></div>
            <div><div style="background:#DC143C;">AI TEXT GENERATION BY CHATGPT</div></div>
        </div>
        <div class="footer-end mt-2">
            <span>A project developed by Kui Jun Ming</span><br>
            <a href="https://www.linkedin.com/in/kuijunming/" target="_blank" style="color:#0072b1;text-decoration:none;">LinkedIn! <i class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>

    <footer class="footer text-center p-2 d-block d-sm-none" style="background: #DEDEDE;">
        <div class="footer-header">MADE POSSIBLE WITH</div>
        <div id=flip-sm>
            <div><div class="flip-last" style="background:#37b7e6;">CSS INSPIRATION - CODEPEN.io</div></div>
            <div><div class="" style="background:#36cf8a;">WEB DEVELOPMENT - DJANGO</div></div>
            <div><div style="background:orange;">AI IMAGE GENERATION - DALL-E</div></div>
            <div><div style="background:#DC143C;">AI TEXT GENERATION - CHATGPT</div></div>
        </div>
        <div class="mt-2">
            <span class="footer-end">A project developed by Kui Jun Ming</span><br>
            <a href="https://www.linkedin.com/in/kuijunming/" target="_blank" style="color:#0072b1;text-decoration:none;">LinkedIn! <i class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static './libs/swiper-init.js' %}"></script>
    <script src="{% static './libs/loader.js' %}"></script>
    <script src="{% static './libs/loadScreen.js' %}"></script>
    <script src="{% static './libs/jquery-typer.js' %}"></script>
    <script src="{% static './libs/call-services.js' %}"></script>
</div>
</body>
</html>